* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
}

.sidebar {
    padding-left: 25px;
    border-right: 1px solid #b7b7b7;
    width: 250px;
    height: 100vh;
}

.flexdirection > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: black;
    margin-bottom: 40px;
    font-size: 18px;
    padding: 10px, 0px;
}

.logo img {
    height: 29px;
    width: 103px ;
    margin: 30px 0px 
    
}

.more {
    margin-top: 150px;
}

.flexdirection > a:hover {
    background-color: beige;
    border-radius: 10px;
    /* padding: 10px 0px; */
}

.profile img {
    width: 30px ;
    border-radius: 50%;
}

/* ==== MAIN ==== */
main {
    padding-inline: 5rem;
    padding-block: 1rem;
}

.main-content {
    width: 900px;
    overflow: hidden;
    
    /* max-width: 800px; */
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}

/* STORY */
.stories {
    display: flex;
    /* align-items: center; */
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid #b7b7b7;
    border-radius: 8px;
    width: 450px;
    overflow: scroll;
}

.stories::-webkit-scrollbar {
    display: none;
}

.story-img {
    width: 60px;
    height: 60px;
    /* aspect-ratio: 1/1; */
    background: linear-gradient(45deg, orange, red, purple);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.story img {
    border-radius: 50%;
    width: 89%;
    height: 89%;
    outline: 2px solid white;
    
}   

.story small {
    display: block;
    text-align: center;
    padding-top: 7px;
}

/* === POSTS === */

.posts {
    width: 60%;
}

/* == POST == */

.post {
    border: 1px solid #b7b7b7;
    border-radius: 7px;
    /* padding: 1rem; */
    margin-top: 1.5rem;
    width: 450px;
}

/* POST HEADER */

.post-header {
    display: flex;
    gap: 10px;
    padding: 10px;
}

.post-header .story-img {
    width: 40px;
    height: 40px;
}

.post-header img {
    border-radius: 50%;
    width: 90%;
    height: 90%;
}

.post .header-info {
    flex: 1;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    /* background-color: purple; */
}

/* POST IMAGE */

.post-content {
    background-clip: content-box; /* check */
}

.post-content img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}


/* ==== ASIDE ==== */

.aside {
    width: 40%;

    background-color: aliceblue;
}
.profile{
    display:flex;
    flex-direction: row;

}
.along{
        display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.placeholder{
    border-radius: 50%;
    width: 20%;
    
}
.profile-username{
    font-weight: 700;
    margin-left: 20px;
    
    
}
.profile-name{
font-weight: 200

}
.btn{
  background-color: transparent;
  color: blue;
  border: none;
  font-size: 15px;
  font-weight: 500;
}

/* suggestion container styles */
.suggest{
    display: flex;
    justify-content: space-around;
}

.suggest h4{
    opacity: 0.5;
}

.person{
    display: flex;
    justify-content: space-around;
}

.flex{
    display: flex;
    justify-content: space-around;
}

.image img{
    border-radius: 50%;
    max-width: 60%;
}