body {
    font-family: 'Segoe UI';
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    padding-left: 25px;
    border-right: 1px solid #b7b7b7;
    width: 250px;
    height: 100vh;
    padding-right: 18px;
}

.flexdirection > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
    font-size: 18px;
    padding: 15px;
}

.logo img {
    height: 29px;
    width: 103px ;
    margin: 30px 0px 
    
}

.more {
    margin-top: 150px;
}

.flexdirection > a:hover {
    background-color: rgb(244, 244, 244);
    border-radius: 40px;
    /* padding: 10px 0px; */
}

.profile img {
    width: 30px ;
    border-radius: 50%;
}

.sidebar .profile {
    display: block;
}

/* ==== MAIN ==== */
main {
    padding-inline: 5rem;
    padding-block: 1rem;
    margin-left: 250px;
    background-color: rgb(247, 247, 247);
}

.main-content {
    width: fit-content;
    overflow: hidden;
    
    /* max-width: 800px; */
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}

/* STORY */
.stories {
    display: flex;
    /* align-items: center; */
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid #b7b7b7;
    border-radius: 8px;
    width: 450px;
    overflow: scroll;
}

.stories::-webkit-scrollbar {
    display: none;
}

.story-img {
    width: 60px;
    height: 60px;
    /* aspect-ratio: 1/1; */
    background: linear-gradient(45deg, orange, red, purple);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.story img {
    border-radius: 50%;
    width: 89%;
    height: 89%;
    outline: 2px solid white;
    
}   

.story small {
    display: block;
    text-align: center;
    padding-top: 7px;
}

/* === POSTS === */

.posts {
    width: 60%;
    width: 450px;
}

/* == POST == */

.post {
    border: 1px solid #b7b7b7;
    border-radius: 7px;
    /* padding: 1rem; */
    margin-top: 1.5rem;
    width: 450px;
}

/* POST HEADER */

.post-header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.post-header .story-img {
    width: 40px;
    height: 40px;
}

.post-header img {
    border-radius: 50%;
    outline: 2px solid white;
    width: 85%;
    height: 85%;
}

.post .header-info {
    flex: 1;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    /* background-color: purple; */
}

.post .header-info .texts p {
    font-size: 12px;
}

.post .header-menu-toggle {
    color: rgb(48, 48, 48);
    margin-top: -25px;
    font-size: 35px;
    cursor: pointer;
}

/* POST IMAGE */

.post-content {
    background-clip: content-box; /* check */
}

.post-content img {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

/* USER INTERACTION */
.interaction {
    padding: 12px;
}
.user-interaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-interaction img,
.comment-box img {
    width: 30px;
}

.interaction .icons img {
    margin-right: 9px;
}

.interaction .post-owner {
    font-weight: 700;
}

.interaction .comments-passage {
    color: rgb(153, 153, 153);
}

.post-time {
    font-size: 12px;
    margin-top: 10px;
    color: rgb(153, 153, 153);
}

/* COMMENT BOX */
.comment-box {
    padding: 12px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    border-top: 1px solid rgb(226, 226, 226);
}

.comment-box form {
    flex: 1;
    display: flex;
}

.comment-box form input {
    width: 100%;
    border: none;
}

.comment-box form input:focus {
    outline: none;
}

.comment-box form input::placeholder {
    font-size: .9rem;
    color: rgb(153, 153, 153);
}

.comment-box button {
    font-family: inherit;
    border: none;
    background: none;
    font-size: .95rem;
    color: rgb(3, 137, 254);
    font-weight: 600;
}

.comment-box form input:placeholder-shown + button {
    opacity: .4;
}



/* ==== ASIDE ==== */

.aside {
    width: 310px;
    padding-top: 20px;
    /* background-color: aliceblue; */
}

.personal-person{
    padding-bottom: 10px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 18px;
}


/* ===== */

.profile .imag img {
    width: 60px;
}

.profile .prof {
    width: 100%;
    flex: 1;
}

.profile .prof p {
    color: rgb(153, 153, 153);
    line-height: 1;
}

/* ===== */

/* suggestion container styles */
.suggest{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

.suggest h4{
    opacity: 0.5;
    /* font-size: 15px; */
}

.suggest p{
    font-size: 13px;
    font-weight: 500;
}

.person{
    display: flex;
    justify-content: space-between;
}

.flex{
    display: flex;
    /* justify-content: space-evenly;
    align-items: center; */
}

.image img{
    border-radius: 50%;
    max-width: 65%;
}

.p-account{
    font-size: 12px;
    opacity: 0.6;
}

.person a{
    color: rgb(0, 0, 0);
    text-decoration: none;

}

.p-btn a{
    color: rgb(3, 137, 254);
    font-size: 12px;
    font-weight: bold;
}

.person{
    padding-bottom: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-top: 10px;
}

 ul li {
  display: inline;
  opacity: 0.3;
}

ul li a {
  color: rgb(0, 0, 0);
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
}

.copyright p{
    opacity: 0.3;
    font-size: 12px;
    font-weight: bold;
    padding-top: 20px;
}